<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <%- include('layout') %>

    <h1>Home</h1>
    <h2>All Posts: </h2>
    <% if (posts.length > 0) { %>
        <ul>
          <% posts.forEach(post => { %>
            <li>
              <h3><a href="<%= post.url %>"><%= post.title %></a></h3>
              <p><%= post.copy %></p>
              <% if (user) { %>
                <p>Author: <%= post.author.username %></p>
            <% } else { %>
                <p>AUTHOR REDACTED. LOG IN TO VIEW.</p>
            <% } %>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No posts found.</p>
      <% } %>


  </body>
</html>


<p></p>
